.App {
  text-align: center;
  font-family: 'Merriweather', serif;
}

.dibs {
  font-family: 'Merriweather', serif;
  font-weight: 900;
}

h2 {
  font-weight: 900;
}

.class-container {
  background-image: url(../src/imgs/Asset\ 2.png);
  background-position: center;
  background-size: cover;
  /* background: #f0f0f0; */
  max-width: 45%;
  min-width: 45%;
  margin: 2%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 5px 5px 12px #d8d8d8;
  color: aliceblue;
  /* justify-content: center;
  flex-wrap: wrap; */
}

.class-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.class-container>h3 {
  align-self: flex-start;
  margin-left: 2%;
  margin-top: 2%;
}

.drop-class-button {
  max-width: 25%;
  align-self: flex-end;
  margin-right: 2%;
  margin-bottom: 2%;
}

.add-class-button {
    position: fixed;
    bottom:0;
    right: 0;
    width: 100%;
    border-radius: 0px;
}

.delete-class-button {
  position: fixed;
  bottom:0;
  right: 0;
  width: 100%;
  border-radius: 0px;
}

.available-classes {
  margin-bottom: 3%;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 2%;
  margin-bottom: 2%;
}

.modal {
  margin-bottom: 2%;
  margin-right: 2%;
}

.head-class-container {
  display: flex;
  justify-content: space-between
}

.head-class-container>h3 {
  margin-left: 2%;
  margin-top: 2%;
}

.edit-button {
  align-self: flex-end;
}

div>.dibs-button {
  /* font-weight: 900; */
}

.classForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-class-form-buttons {
  display: flex;
}

.login {
  margin: auto;
  margin-top: 15%;
}

.userClass-buttons {
  display: flex;
  justify-content: space-between;
  margin-left: 2%;
}