.App {
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.dibs {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

.class-container {
  background: #f0f0f0;
  max-width: 45%;
  min-width: 45%;
  margin: 2%;
  /* justify-content: center;
  flex-wrap: wrap; */
}

.class-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.add-class-button {
    position: fixed;
    bottom:0;
    right: 0;
    width: 100%;
    border-radius: 0px;
}

.delete-class-button {
  position: fixed;
  bottom:0;
  right: 0;
  width: 100%;
  border-radius: 0px;
}
